*body {
	width: 960px;
}

.breadcrumb {
	color: #939ca2;
	font-family: "Myriad Pro";
	font-size: 13px;
	font-weight: 400;
	line-height: 20px;
	list-style: none;
}

.breadcrumb li { 
	display: inline;
 }

.breadcrumb a {
	text-decoration: underline;
}

li a:hover{
	text-decoration: none;
}

.breadcrumb li::after {
  content: '—';
  padding: 0 5px;
  color: black;
	line-height: inherit;
}

h1 {
	color: #222222;
	font-family: "Neo Sans Pro";
	font-size: 28px;
	font-weight: 500;
	line-height: 30px;
}

/* filter*/

.filter {
	width: 960px;
	height: 50px;
	border: 2px solid #e5f0fb;
	border-radius: 12px;
	background: #eef8ff; 
}

.text_color {
	color:#4c4c4c;
	font-family: "Neo Sans Pro";
	font-size: 14px;
	font-weight: 400;
	line-height: 30px;
}

.line {
	border-right: 1px solid #ccc; 
	height: 23px;
}

.red{
	background-color: #e30013;
}
.black{
	background-color: #3b3b3b;
}
.yellow{
	background-color: #e3c400;
}
.white{
	background-color: #ffffff;
}
.green{
	background-color: #76e300;
}
.pink{
	background-color: #e300a0;
}
.orange {
	background-color: #e37000;
}

.sphere {
	height: 50px;
  width: 20px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  position: relative;
  display: inline-block;


}

 .sphere:hover {
	border: 2px solid #ff4343;
}


/*Продукты товаров*/

.product__element {
width: 192px;
height: 350px;
border: 1px solid #d0dbe6;
border-radius: 8px;
}

.product__name {
	color: #0093ca;
	font-family: "Neo Sans Pro";
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	text-decoration: underline;
}

.product__description {
color: #494949;
font-family: "Neo Sans Pro";
font-size: 13px;
font-weight: 400;
line-height: 18px;
}